@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj @ViewData["name"]! </h1>
    <p>Strona domowa</p>
    <form method="post">
        <input type="text" name="name" />
        <input type="submit" value="Podaj imię" />
    </form>

</div>
