@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj @ViewData["name"]! </h1>
    <p>Strona domowa</p>
    <form method="post">
        <input type="text" name="name" />
        <input type="submit" value="Podaj imię" />
    </form>
    <ul class="navbar-nav flex-grow-1">
        <li class="navbar-nav flex-grow-1">

        </li>
        <li>
            <a class="btn" asp-controller="Filmy" asp-action="Index"><i class="bi bi-film"></i>Filmy</a>
        </li>
        <li class="nav-item">
            <a class="btn" asp-controller="Rezyserowie" asp-action="Index"><i class="bi bi-headset"></i>Reżyserowie</a>
        </li>
        <li>
            <a class="btn" asp-controller="Aktorzy" asp-action="Index"><i class="bi bi-person-square"></i>Aktorzy</a>
        </li>
    </ul>
</div>

